.back-image {
    height: 700px;
    background-position: center;
    background-size: cover;
}

.col-grey {
    color: rgb(165, 165, 165);
}

.col-white {
    color: #fff;
}

.size-text {
    font-size: 50px;
}

.buttons {
    border-radius: 20px;
    padding: 3px 6px;
    color: white;
    transition: 0.5s;
}

.buttons-2 {
    padding: 5px 10px;
    color: blue;
    border-radius: 20px;
    border: none;
    opacity: 0.8;
    background-color: rgb(208, 208, 208);

}

.buttons-3 {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #fff;
}

.border-button:hover{
    outline: 3px solid black;
    border-radius: 20px;

}

ul img {
    width: 100%;

}



/* -----------------------utility------------------ */
/* -----------------------nav------------------ */

header {
    width: 100%;
}

.brand {
   background-color: black;
   height: 40px;
}

.brand img {
    width: 100px;
    padding: 10px 0;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(0, 108, 176);
}

nav li {
    margin: 0 10px;
}

.fas.fa-search {
    font-size: 26px;
    padding-top: 5px;
}


/* -----------------------jumbotron------------------ */

.jumbotron {
    background-image: url("../img/jumbo-bg.png");
}

main {
    padding-top: 85px;
}

.box-inner-jumbo{
    color: white; 
    padding: 350px 0 30px 0;
}

.box-inner-jumbo img{
    width: 60%;
}

/* -----------------------lista play------------------ */


.lista-play .box-image img {
    width: 100%;
    border-radius: 20px;
    transition: 0.5s;
}

.lista-play .box-image img:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-1em); 
}

.blue-outline {
    outline: 3px solid blue;
    padding: 3px;
}

.info-play span {
    font-size: small;
    color: lightskyblue;
}

.info-play h3 {
    margin-bottom: 20px;
}

.info-play img {
    width: 100%;
}

.info-play .content-image .blur{
    opacity: 0.7;
    transition: 0.7s;
}

.info-play .content-image .blur:hover {
    opacity: 1;
}

/* --------------------jumbo take two---------------- */

.take-two {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

.box-inner-take-two {
    color: white; 
    padding-top: 150px;
}

.box-inner-take-two img {
    width: 60%;
}

/* --------------------Nuove uscite---------------- */

.new-drop {
    color: white;
    background-color: rgb(41, 41, 41);
    padding: 30px 0;
}

.new-drop .content-image img {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 20px;
}

.new-drop .content-image p {
    font-size: 15px;
}

/* explorer play */

.inner-explorer-play img {
    width: 100%;
}

.inner-explorer-play p {
    font-size: 20px;
}

/* playstation plus */

.playstation-plus {
    background-color: rgb(167, 167, 167);
}

.playstation-plus .content-image img {
    width: 60%;
}

.playstation-plus img {
    width: 100%;
    object-fit: cover;
}

/* discount-play */

.discount-play img {
    width: 100%;
}

.discount-play p {
    font-size: 20px;
}

/* avengers */
.avengers {
    background-color: rgb(26,37,89);
}

.avengers .content-image img {
    width: 60%;
}

.avengers img {
    width: 100%;
}


/* box-social */
.social-container {
    padding: 100px 0;
}

.inner-social-container {
    width: 60%;
}

.social-container h3 {
    font-size: 55px;
}

.box-social {
    width: 100%;
}

.box-social img{
    width: 100%;
}

/* --------------------------------footer--------------------------*/

footer {
    background-color: royalblue;
}

footer .logo-play{
    width: 100px;
   
}

.language-globe {
    width: 40px;
}



.country-text span{
    padding-left: 10px;    
}

footer ul {
    list-style: none;
    color: white;
}

footer .sony-interactive img {
    width: 150px;
    margin-bottom: 10px;
} 

footer .sony-interactive {
    color: white;
}





/* @media screen and (max-width: 991px) {
    
    .playstation-plus .content-ps-plus, .avengers .content-avengers{
        display: none;
    }

    
} */